#remove index.php
<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

#Disable directory browsing
Options All -Indexes

#cache files
<IfModule mode_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 month"
	ExpiresByType image/jpeg "access 1 month"
	ExpiresByType image/gif "access 1 month"
	ExpiresByType image/png "access 1 month"
	ExpiresByType image/x-icon "access 1 month"
	ExpiresByType text/css "access 1 month"
	ExpiresByType text/x-javascript "access 1 month"
	ExpiresByDefault "access 1 month"
</IfModule>

#Prevent access to files
<FilesMatch "\.(htaccess|htpasswd|ini|git|gitignore)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

#Redirect to a Secure https connection
RewriteCond %{HTTP_HOST} !=localhost    
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]{3}$
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]